<!DOCTYPE html>
<html>
  <head>
    <title>Express-Auth</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <section id="a1">
      <div id="b11">
        <div id="c11">
          <h1>Express-Auth API<h1>
	</div>
	<div id="c21">
          <h5>Authentication API using Express.js</h5>
        </div>
	<div id="c31">
	  <a href="https://github.com/FikriRNurhidayat/express_auth" target="_blank">Github</a>
	</div>
      </div>
    </section>
    <section id="a2">
      <div id="b12">
        <div id="c12">
          <h1>Login</h1>
        </div>
        <div id="c22">
          <form>
            <label for="email">Email</label><br>
            <input type="email" id="email"><br>
            <label for="password">Password</label><br>
            <input type="password" id="psw"><br>
            <button type="button" id="loginButton">Login</button>
          </form>
        </div>
	<div id="c32">
	</div>A
      </div>
    </section>
  </body>
  <script src="/main.js"></script>
</html>
