body {
  margin: 0;
  width:100%;
  font-family: 'Roboto', sans-serif; 
}

#a1 {
  width:100%;
  height:100vh;
}

#b11 {
  width:50%;
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 2px;
}

#c11 {
  text-align:center;
  margin:0;
}

#c11 h1 {
  margin:0;
  font-weight:bold;
  font-size:2.5em;
}

#c21 {
  text-align:center;
  margin:0;
  padding:3.5%;
}

#c21 h5 {
  margin:0;
  font-size:1.5em;
  font-weight:normal;
}

#c31 {
  text-align:center;
  padding:10px;
}

#c31 a {
  padding: 10px 10px;
  background:#000;
  text-decoration:none;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
}

#a2 {
  width:100%;
  height:100vh;
  background:#000;
}

#b12 {
  width:50%;
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 2px;
}

#c12 {
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  font-size:2em;
}

#c22 {
  text-align:center;
  color:#fff;
}

#c22 label {
  font-size:1.3em;
}

#c22 input {
  color:#000;
  font-weight: lighter;
  font-size:0.8em;
  text-align: center;
  width:30%;
  margin:10px;
  padding:10px;
}

#c22 button {
  margin:10px;
  border:none;
  padding:10px;
  background-color:white;
  text-decoration:none;
  color:#000;
  text-transform:uppercase;
  font-size:1em;
  font-weight:bold;
}

#c32 {
  text-align: center;
}

#c42 {
  margin:10px;
  text-align:center;
}

#signUp {
  font-size:0.6em;
  padding:5px 16px;
  background:none;
  color:#fff;
  border:solid 1px #fff;
  border-radius: 20px;
}

#signUp:hover {
  color:#000;
  background:rgba(255,255,255);
}

#forgotPassword {
  font-size:0.6em;
  padding:5px 16px;
  background:none;
  color:#fff;
  border:solid 1px #fff;
  border-radius: 20px;
}

#b22 {
  color:#fff;
  text-align:center;
  font-size:2em;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#logoutButton {
  padding:10px;
  color:#000;
  border:none;
  font-weight: bold;
  text-transform:uppercase;
  font-size:0.5em;
}

